// app global css in SCSS form

body {
  font: {
    family: '微软雅黑', 'Microsoft YaHei', 'Roboto', sans-serif;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

pre {
  display: inline;
  color: $primary;

  padding: 0 4px;
}

@font-face {
  font-family: Minecraft;
  src: url(../assets//fonts/fzse_gbk.ttf);
}
